@mixin resp-image-wrap($img-height, $img-width) {
  height: 0;
  width: 100%;
  padding-bottom: $img-height/$img-width * 100 + %;
  position: relative;
}

%resp-image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

#footer-background {
  background-image: url("../images/stonehenge-narrow.jpg");
  @extend %resp-image;
  @media (min-width: $desktop-width) {
    background-image: url("../images/stonehenge-narrow-large.jpg");
  }
}

footer {
  @include resp-image-wrap(326,800);
  background-position: bottom;
  font-size: 1.4rem;
  color: white;     //use variable later
  .container {
    height: 100%;
    padding: 7%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  p {
    margin: 0;
  }
  #copy {
    font-size: .8rem;
  }
  @media (min-width: $tablet-width){
    font-size: 2rem;
    #copy {
        font-size: 1.2rem;
    }
  }
  @media (min-width: $desktop-width){
    @include resp-image-wrap(460,1600);
    font-size: 3rem;
  }
}
