%inputAndTextarea {
  padding: 0.6em 0.8em;
  background: white;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  line-height: normal;
  margin: 0 0 1rem .5rem;
  flex: 1 0 230px;
  @media (min-width: $desktop-width) {
    flex: 1 0 280px;
  }
}

#form {
  background: $gradientGoldBackground;
  h2 {
    padding-top: 2rem;
    text-align: center;
    margin: 0 0 2rem 0;
  }
  @media (min-width: $desktop-width) {
    .container {
      width: 80%;
    }
  }
  #error {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    p {
      margin: 0 auto;
      padding: 3px;
      width: 16rem;
    }
  }

}

.register-form {
  display: flex;
  flex-wrap: wrap;
  ul {
    list-style: none;
    flex: 1 0 16rem;
  	margin: 0 2rem;
  	padding: 0;
    li {
      display: flex;
      flex-wrap: wrap;
    }
  }
  input {
    @extend %inputAndTextarea;
    max-height: 3em;     		/* to counter bug in some Opera browsers  */
  }
  textarea {
    @extend %inputAndTextarea;
    font-family: sans-serif; //to be changed when I add fonts
  }
  label {
    flex: 1 0 90px;
    max-width: 100px;
    margin: 0 0 .2rem 1rem;
  }
  button {
    margin: 1rem 0 2rem 30%;
  	flex: 0 0 40%;
    padding: .5rem;
    background: $smallButShiny;
    color: white;
    font-size: 120%;
    font-weight: 900;
    border: none;
  }
  .invalid-input {
    background: rgb(250,188,188);
    border: 1px solid red;
  }
}
