%goldBar {
  background: $smallButShiny;
  border-bottom: .1rem solid $shinyEdges;
  border-top: .1rem solid $shinyEdges;
  padding: .2rem .4rem 0;
}

#places {
  background: $mainBackground;
  padding-bottom: .5rem;
  position: relative;
  h1 {
    @extend %goldBar;
    width: 102%;
    text-align: center;
    margin: 0;
    padding: .5rem;
    margin-left: -1%;
    margin-bottom: 1rem;
  }
  figure {
    position: relative;
    width: 47%;
    margin: 1%;
    img {
    border-radius: 50%;
    }
    figcaption {
      @extend %goldBar;
      position: absolute;
      font-size: .8rem;
      left: 33%;
      top: 65%;
      width: 68%;
      @media (min-width: $tablet-width) {
        font-size: 1rem;
        padding: .3rem .4rem .1rem;
      }
    }
      @media (min-width: $tablet-width) {
        width: 30%;
      }
      @media (min-width: $desktop-width) {
        width: 22.5%;
      }
  }
  .modal {
    display: none;
    position: absolute;
    width: 94%;
    left: 3%;
    top: 1rem;
    background: lightblue; //should be changed into variable later
    padding-bottom: 1rem;
    z-index: 1;
    h1 {
      width: 100%;
      margin-left: 0;
    }
    h3 {
      font-size: 1rem;
      text-align: center;
    }
    p {
      padding: 0 1rem;
    }
  }

}

#places-revealer, .modal-hider {
  @extend %goldBar;
  display: block;
  font-size: .8rem;
  margin: .4rem auto;
  text-align: center;
  border-left: none;
  border-right: none;
  padding-bottom: .2rem;
  &:focus {
    outline: none;
  }
}

//modal styles
