%goldBar {
  background: $smallButShiny;
  border-bottom: .1rem solid $shinyEdges;
  border-top: .1rem solid $shinyEdges;
  padding: .2rem .4rem 0;
}

#places {
  background: $gradientGoldBackground;
  padding-bottom: .5rem;
  @media (min-width: $desktop-width) {
    .container {
      width: 80%;
    }
  }
  h1 {
    @extend %goldBar;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem;
    padding: 1rem 0 .5rem;
    border: none;
    @media (min-width: $desktop-width) {
      font-size: 1.8rem;
      padding: 2rem 0 .5rem;
    }
  }
  figure {
    cursor: pointer;
    position: relative;
    width: 47%;
    margin: 1% 0 1% 1%;
    img {
    border-radius: 50%;
    }
    @media (min-width: $tablet-width) {
      width: 30%;
      margin: 2% 0 2% 2%;
    }
    @media (min-width: $desktop-width) {
      width: 30%;
    }
    figcaption {
      @extend %goldBar;
      position: absolute;
      font-size: .8rem;
      left: 33%;
      top: 65%;
      width: 68%;
      @media (min-width: $tablet-width) {
        font-size: 1rem;
        padding: .3rem .4rem .1rem;
      }
      @media (min-width: $desktop-width) {
        font-size: 1.2rem;
        font-weight: 700;
      }
      &:hover {
        background-color: $secondaryBackground;
      }
    }
  }
  .modal {
    display: none;
    position: absolute;
    width: 94%;
    left: 3%;
    top: 1rem;
    background: $secondaryBackground;
    padding-bottom: 1rem;
    z-index: 101;
    h2 {
      @extend %goldBar;
      width: 100%;
      margin: 0;
      padding: 1rem 0;
      text-align: center;
      cursor: pointer;
    }
    .intro {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
    }
    p {
      padding: 0 1rem;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    @media (min-width: $tablet-width) {
      width: 90%;
      left: 5%;
    }
    @media (min-width: $desktop-width) {
      width: 80%;
      left: 10%;
    }
  }
}

#places-revealer, .modal-hider {
  @extend %goldBar;
  cursor: pointer;
  display: block;
  font-size: .8rem;
  margin: .4rem auto;
  text-align: center;
  border-left: none;
  border-right: none;
  padding-bottom: .2rem;
  &:focus {
    outline: none;
  }
  &:hover {
    background: $secondaryBackground;
  }
}

.modal-hider {
  padding: 1rem 2rem;
}

.modal-cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
}
