* {
  box-sizing: border-box;
}

body, html, figure {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

article, aside, footer, header, nav, section, details, summary {
  display: block;
}

figure {
  display: inline-block;
}

header, section, footer, nav {
  width: 100%;
}

img, video, canvas {
  max-width: 100%;
}

.container {
  width: 98%;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    width: 80%;
  }
  @media (min-width: $desktop-width) {
    width: 70%;
  }

}

.hidden {
  display: none;
}
