* {
  box-sizing: border-box;
}

body, html, figure {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

header, section, footer, nav {
  width: 100%;
}

img, video, canvas {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.hidden {
  display: none;
}
