header {
  position: relative;
  color: white;
  h1 {
    position: absolute;
    left: 12%;
    top: 7%;
    font-size: 1.6rem;
  }
  p {
    position: absolute;
    left: 42%;
    top: 47%;

  }
  %gallery-navs {
    position: absolute;
    display: block;
    font-size: 2rem;
    padding-top: 25%;
    cursor: pointer;
    color: white;
    width: 5%;
  }

  #gallery-nav1 {
    @extend %gallery-navs;
    left: 3%;
  }

  #gallery-nav2 {
    @extend %gallery-navs;
    left: 92%;
  }
}
