header {
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px black, 0 0 2px black;
  h1 {
    position: absolute;
    left: 12%;
    top: 7%;
    font-size: 1.9rem;
  }
  p {
    position: absolute;
    left: 42%;
    top: 54%;
    width: 50%;
    font-size: 1.2rem;
  }
  %gallery-navs {
    position: absolute;
    display: block;
    font-size: 2rem;
    top: 42%;
    cursor: pointer;
    color: white;
    width: 5%;
    font-weight: 900;
  }
  #gallery-nav1 {
    @extend %gallery-navs;
    left: 3%;
  }
  #gallery-nav2 {
    @extend %gallery-navs;
    left: 92%;
  }
  .container-large-screen {
    position: relative;
  }
  @media (min-width: $header-photo-width) {
    background: black;
    %gallery-navs {
      font-size: 3rem;
    }
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
      top: 70%;
    }
    .container-large-screen {
      margin: 0 auto;
      width: 80%;
    }
    @media (min-width: $desktop-width) {
      .container-large-screen {
        width: 70%;
      }
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

.first-T {
  color: $smallButShiny;
}
